[Unit]
Description=Run VisionOps v3 Tube Pick Runtime Watchdog

[Timer]
OnBootSec=30s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
