[Unit]
Description=Run VisionOps HP60C Camera Recovery Watchdog

[Timer]
OnBootSec=25s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
